= form_for @movie, html: { multipart: true, class: 'form-horizontal' } do |f|

  -if @movie.errors.any?
    #error_explanation
      %h2= "#{pluralize(@movie.errors.count, 'error')} prohibited this movie from being saved:"
      %ul
        -@movie.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title
    %br
    = f.text_field :title,class: "form-control"
  .field
    = f.label :description
    %br
    = f.text_area :description,class: "form-control"
  .field
    = f.label :movie_length
    %br
    = f.text_field :movie_length,class: "form-control"
  .field
    = f.label :director
    %br
    = f.text_field :director,class: "form-control"
  .field
    = f.label :rating
    %br
    = f.text_field :raing,class: "form-control"
  .field
    = f.label :image
    %br
    = f.file_field :image
  .action
    %br
    = f.submit class: "btn btn-primary"
