-if !user_signed_in?
  .jumbotron
    %h1 Your Favorite Movies Reviewed
    %p Latest movie reviews, Hindi film reviews, English film reviews, Bollywood film reviews, Hollywood film reviews, movie ratings at Movie Ratings
    %p=link_to "Sign Up To Write A Review",new_user_registration_path, class: "btn btn-primary btn-lg signup"
.row
  -@movies.each do |movie|
    .col-sm-6.col-md-3
      .thumbnail
        =link_to (image_tag movie.image.url(:medium)), movie, class: 'image'


