<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @movie.image.url(:medium) %>
        <div class="star-rating" data-score="<%= @avg_reviews %>"></div>
        <em><%= "#{@reviews.length} reviews"%> </em>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <strong>Title:</strong>
                </td>
                <td>
                  <%= best_in_place @movie, :title %>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Description:</strong>
                </td>
                <td>
                  <%= best_in_place @movie,:description %>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Movie length:</strong>
                </td>
                <td>
                  <%= best_in_place @movie,:movie_length %>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Director:</strong>
                </td>
                <td>
                  <%= best_in_place @movie,:director %>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Rating:</strong>
                </td>
                <td>
                  <%= best_in_place @movie,:raing %>
                </td>
              </tr>
            </tbody>
          </table>
          <%= link_to "Write Review",new_movie_review_path(@movie),class: 'btn btn-xs btn-danger',remote: true,                                                    id: "new_#{@movie.id}" %>
          <%= link_to 'Edit Movie ', edit_movie_path(@movie),class: "btn btn-xs btn-success" %>
          <%= link_to 'Back', movies_path,class: "btn btn-xs btn-primary" %>
          <br/>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <div class="review_title">
          <%= @movie.title %>
        </div>
        <p>
          <%= @movie.description %>
        </p>
        <% if @reviews.blank? %>
          <h3>No reviews just yet, would you like to add the new review?</h3>
          <%= link_to "Write Review",new_movie_review_path(@movie),class: 'btn btn-danger' %>
        <% else %>
        <% end %>
        <% @reviews.each do |review| %>
          <div class="reviews">
            <div class="star-rating" data-score="<%= review.rating %>"></div>
            <p>
              <%= review.comment %>
            </p>
            <%= link_to 'Edit',  edit_movie_review_path(@movie, review),remote: true, class: "btn btn-xs btn-success", id: "edit_#{review.id}" %>
            <%= link_to 'Delete', [@movie, review] ,method: :delete, class: "btn btn-xs btn-danger" %>
          </div>
          <br/>
          <br/>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $('.star-rating').raty({
  path:'/assets/',
  readOnly:true,
  score:function(){
     return $(this).attr('data-score');
  }
  });
</script>
