<%= form_for([@movie, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div id="star-rating"></div>
  </div><br>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment,class: "form-control" %>
  </div><br>
    <div class="actions">
    <%= f.submit class: "btn btn-primary btn-xs"%>
    <%= link_to 'Cancel', @movie, class: "btn btn-xs btn-default"%>
  </div><br>

<% end %>


<script>
  $('#star-rating').raty({
    path:'/assets/',
    scoreName: 'review[rating]'
  });
</script>
