%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand= link_to "Movie Rating",root_path
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
      %form.navbar-form.navbar-left
        .form-group
          =form_tag search_movies_path,method: :get, class:"navbar-form navbar-right", role: "search" do
            %p
              =text_field_tag :search, params[:search],class: "form-control"
              =submit_tag "Search", name: nil, class: "btn btn-default"
      %ul.nav.navbar-nav.navbar-right
        -if !user_signed_in?
          %li= link_to "Sign In",user_session_path
          %li= link_to "Sign Up",new_user_registration_path
        -else
          %li= link_to "New Movie",new_movie_path
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Account
              %span.caret
            %ul.dropdown-menu
              %li= link_to "Profile",edit_user_registration_path

              %li.divider{:role => "separator"}
              %li= link_to "Sign Out",destroy_user_session_path, method: :delete
    / /.navbar-collapse
  / /.container-fluid
