!!!5
%html
%head
  %title>Movie Review</title>
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  =render 'layouts/header'
  .container
    -flash.each do |name, msg|
      = content_tag(:div, msg, class: "alert alert-success")
    =yield

